li {
    font-size: 18px;
    margin-top: 5px;
}


/*2-list-of-blocks*/
.block-cont {
    margin-bottom: 89px;
}

.block-cont .content-list {
    display: inline-block;
    margin-right: 100px;
}


/*4-levels*/
.lower-levels h3 {
    margin-top: 66px;
    margin-bottom: 25px;
}

.upper-levels h3 {
    margin-top: 66px;
    margin-bottom: 25px;
}
