/*
.lower-levels-header {
    margin-bottom: 27px;
    margin-top: 45px;
}

li {
    margin-top: 5px;
}

.block-cont .content-list {
    display: inline-block;
    margin-right: 100px;
}

.lower-levels h3 {
    margin-top: 66px;
    margin-bottom: 25px;
}

.upper-levels h3 {
    margin-top: 66px;
    margin-bottom: 25px;
}
*/